<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150345910383-jhc6tqduhmtu4bmli48867qk8a32dkst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150345910383-jhc6tqduhmtu4bmli48867qk8a32dkst</string>
	<key>API_KEY</key>
	<string>AIzaSyBHVFG7Xn7GJP7b0Rr1yDNNA9R5DG0zRsY</string>
	<key>GCM_SENDER_ID</key>
	<string>150345910383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.workwithfirebase</string>
	<key>PROJECT_ID</key>
	<string>student-8b487</string>
	<key>STORAGE_BUCKET</key>
	<string>student-8b487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150345910383:ios:c5c0462917adfd4c06259a</string>
	<key>DATABASE_URL</key>
	<string>https://student-8b487.firebaseio.com</string>
</dict>
</plist>